*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #011627;
}

.main-title{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 2em;
}

button{
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 8px;
}

#grid{
    max-width: 35%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: solid 2px white;
}